<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://inh-4843-ssp-d-azwe-fa-1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/eb845a65-913a-4d3e-b872-444e09456040/resourceGroups/660571/providers/Microsoft.Web/sites/INH-4843-SSP-D-AZWE-FA-1</ResourceId>
    <UserName>$INH-4843-SSP-D-AZWE-FA-1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://inh-4843-ssp-d-azwe-fa-1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>